VITE_SUPABASE_URL=https://tuzksqnoxwzxlucgogwd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1emtzcW5veHd6eGx1Y2dvZ3dkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5MTczMjUsImV4cCI6MjA5NTQ5MzMyNX0.FTb3w_pag2WbmkNqb0F6BevbCtAW2l6PLBnjRKPTx2g