# File processed — bisa di-generate ulang
data/processed/*.npz
data/processed/*.pkl

# Model files — bisa di-generate ulang dengan training
models/*.keras

# Python cache
__pycache__/
*.pyc

# TensorBoard logs
logs/